<!DOCTYPE html>
<html lang="de-DE">
<head>
<title>FFRL - SelfService - Portal</title>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/main.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.js"></script>
</head>

<body style="margin: 0px">
	<div class="login_bg">
		<div class="login_wrapper">
			<div class="login_hq">
				<div class="hq_icon"></div>
				<div class="hq_text">Willkommen im<br>FFRL - SelfService-Portal</div>
			</div>
		        <div class="login" style="height:470px;">
        		        $$status$$
		        </div>
		</div>
	</div>
</body>
</html>